 #buscarPaciente,
 #btnconfirmarDatosPersonales,
 #btnModifcarDatosPaciente,
 #btnGuardarModifcarDatosPaciente,
 #btnPagarSeña,
 #btnPrimeraVez {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    background-color: #31572C;
    color: white; /* Cambia el color del texto si es necesario */
    margin-block: 1px;
  }




#btnModifcarDatosPaciente,
#btnGuardarModifcarDatosPaciente {
    display: none;
  }


#buscarPaciente:hover,
#btnconfirmarDatosPersonales:hover,
#btnModifcarDatosPaciente:hover,
#btnGuardarModifcarDatosPaciente:hover,
#btnPagarSeña:hover,
#btnPrimeraVez:hover{
  background-color: #90A955; /* Cambia este color al color que desees al pasar el mouse */
  margin-block: 1px;
}

#btnCancelar {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    background-color: white;
    border-color: #90A955;
    color: black; /* Cambia el color del texto si es necesario */
    margin-block: 1px;
  }

#btnCancelar:hover {
  background-color: #90A955;  /* Cambia este color al color que desees al pasar el mouse */
  color: white;
}

body {
    background: #b9cbb8;
}