#btnBuscarTurno,
#btnMisTurnos,
#btnMisDatos {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    background-color: #31572C;
    color: white; /* Cambia el color del texto si es necesario */
  }

#btnBuscarTurno:hover,
#btnMisTurnos:hover,
#btnMisDatos:hover {
  background-color: #90A955; /* Cambia este color al color que desees al pasar el mouse */
}


#idIndexForm {
    max-width: 500px;
    width: 90%;
    text-align: center;
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px; /* Espaciado interno para separar el contenido */
    background-color: #f9f9f9; /* Color de fondo del formulario */
    box-shadow: 0 0 10px 11px rgb(0 0 0 / 20%) /* Sombra */
}

#idContainerIndex {
    max-width: 500px;
    width: 100%;
    flex-grow: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

#idDivInstagram img{
    width: 50px;
    height: auto;
    transition: transform 0.3s; /* Agregar una transición para suavizar el efecto */

}

#idDivInstagram img:hover{
    transform: scale(1.2); /* Escala la imagen al 120% del tamaño original */

}

#idDivInstagram {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* Alinea el contenido al centro */
    padding: 10px; /* Añade un relleno para el contenido */
    z-index: 999; /* Asegura que esté en la parte superior */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*height: 100vh;*/
    margin: 0;
    background-image: url('../imagenes/Sandias V2.png');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo */
}



