#opciones {
    /*background-color: #31572C;*/
    background: linear-gradient(to bottom, #31572C, #5bab7b);
}

.bg-light {
    background: linear-gradient(to bottom, #31572C, #5bab7b);
}

 #itemMenuPerfil,
 #itemMenuMiAgenda,
 #itemMenuSobreturnos,
 #itemMenuAgendaGeneral,
 #itemMenuProfesinales,
 #itemMenuEspecialidades {
    cursor: pointer;
    color: white;
    margin-left: 10px
  }

#itemMenuPerfil:hover,
#itemMenuMiAgenda:hover,
#itemMenuSobreturnos:hover,
#itemMenuAgendaGeneral:hover,
#itemMenuProfesinales:hover,
#itemMenuEspecialidades:hover {
  background-color: #74a5743b; /* Cambia este color al color que desees al pasar el mouse */
}


#itemMenuSalir{
    cursor: pointer;
    color: white;
    margin-left: 10px
}

#itemMenuSalir:hover {
  background-color: #db6767; /* Cambia este color al color que desees al pasar el mouse */
}

 #iframe-container {
    position: fixed;
    top: 60px; /* Ajusta la altura del navbar según sea necesario */
    left: 0;
    width: 100%;
    height: calc(100% - 60px); /* Resta la altura del navbar */
    overflow: hidden; /* Evita que el contenido del iframe se desborde */
}


/* Estilo para el iframe */
#frameInicio {
    width: 100%;
    height: 100%;
    border: none;
   
}


